shroudBNC as a Win32 service
----------------------------

shroudBNC can be installed and used as a service on Windows NT systems. In order to install it
you will have to run the sbnc.exe with the parameter "--install":

D:\>sbncloader.exe --install
shroudBNC loader
Service was successfully installed.

Once the service is installed it can be started using the "net start shroudbnc" command or using
the management console (Start -> Run -> "services.msc").

If you want to uninstall the service use the "--uninstall" parameter:

D:\>sbncloader.exe --uninstall
shroudBNC loader
Service was successfully removed.

Keep in mind that you need to stop the service before Windows actually removes it. This can be
done using the "net stop shroudbnc" command.

Security
--------

It is advisable to run shroudBNC as a less privileged user. By default the "SYSTEM" account is used
which can access any of your system's processes, files, etc. You can change the user using the
"Services" management console.
