#!/usr/bin/make -f
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --enable-tcl --enable-ssl --enable-ipv6 --disable-identd

override_dh_auto_install:
	dh_auto_install
