# This is an example configuration file for shroudBNC's TCL module
# It will be sourced whenever you (re-)load the tcl module or
# use the tcl command 'rehash' (e.g. /sbnc tcl :rehash)

# You should not modify this block
source "scripts/alltools.tcl"
source "scripts/namespace.tcl"
source "scripts/timers.tcl"
source "scripts/misc.tcl"
source "scripts/variables.tcl"
source "scripts/pushmode.tcl"
source "scripts/channel.tcl"
source "scripts/bind.tcl"
source "scripts/usys.tcl"
source "scripts/socket.tcl"
source "scripts/botnet.tcl"
source "scripts/iface2.tcl"
source "scripts/ifacecmds.tcl"
source "scripts/partyline.tcl"
source "scripts/defaultsettings.tcl"
